@import "_variables.scss";

body {
  background-image: var(--main-bg-gradient);
  margin: 0;
  height: 100vh;
  @media (min-width: 1025px) {
    background-image: url("../assets/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "headcont banner"
      "maincont banner"
      "footcont banner";
    .header,
    .main,
    .footer {
      justify-self: right;
      margin: 0;
      width: 500px;
      margin-right: 3rem;
    }
    .header {
      grid-area: headcont;
      display: grid;
      align-items: center;
      .logo {
        max-width: 200px;
      }
    }
    .main {
      grid-area: maincont;
    }
    .footer {
      grid-area: footcont;
    }
    .picture {
      justify-self: right;
      grid-area: banner;
      height: 100%;
      overflow-y: hidden;
      &__image {
        height: 100%;
        width: auto;
      }
    }
    .form {
      text-align: left;
      padding-bottom: 0;
      padding-top: 0;
      &__title {
        font-size: 4rem;
      }
    }
  }
}

.header,
.main,
.footer {
  max-width: 500px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 2rem;
  .logo {
    max-width: 100px;
  }
}

.picture {
  margin: 0;
  &__image {
    width: 100%;
  }
}

.form {
  padding: 2rem;
  text-align: center;
  &__title {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 2.2rem;
    margin-bottom: 0;
    &--light {
      font-weight: 300;
      display: block;
      color: var(--copy-color);
    }
  }
  &__copy {
    color: var(--copy-color);
    line-height: 1.4rem;
  }
  &__action {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr;
    position: relative;
  }
  &__input {
    cursor: pointer;
    border-radius: 2rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    &--email {
      font-size: 0.9rem;
      border: 1px solid var(--copy-color);
      padding-left: 1.5rem;
      padding-right: 4rem;
      color: var(--copy-color);
      @media (min-width: 768px) {
        padding-right: 6rem;
      }
      &::placeholder {
        color: inherit;
        font-family: 'Josefin Sans', sans-serif;
        filter: opacity(0.7);
      }
    }
    &--submit {
      position: absolute;
      right: 0;
      width: 4rem;
      background-image: url("../assets/images/icon-arrow.svg"), var(--button-bg);
      background-repeat: no-repeat;
      background-position: 50%;
      border: none;
      box-shadow: 0 1rem 3rem var(--copy-color);
      transition: filter 0.2s;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
  &__label {
    align-self: center;
    justify-self: left;
    padding-left: 1.5rem;
    font-size: 0.9rem;
    color: var(--accent-color);
    display: none;
  }
}

.email-error {
  .form__input--email {
    background-image: url("../assets/images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 75% 50%;
    border: 2px solid var(--accent-color);
    @media (min-width: 479px) {
      background-position: 83% 50%;
    }
  }
  .form__label--error {
    display: block;
  }
}

.footer {
  .attribution {
    font-size: 0.9rem;
    font-weight: 300;
    &__copy,
    &__link {
      color: var(--copy-color);
    }
    &__copy {
      margin: 0.2rem auto;
      text-align: center;
    }
    &__link {
      font-weight: 400;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
        color: var(--title-color);
      }
    }
  }
}
