@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$very-dark-blue: hsl(233, 47%, 7%);
$dark-desat-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$trans-violet: hsla(277, 88%, 33%, 0.4);
$white: hsl(0, 0%, 100%);
$slight-trans-white-75: hsla(0, 0%, 100%, 0.75);
$slight-trans-white-60: hsla(0, 0%, 100%, 0.6);

html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  background-color: $very-dark-blue;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main {
    margin-top: auto;
}

.card {
  max-width: 480px;
  background-color: $dark-desat-blue;
  margin: 5.5rem 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  &__header {
    position: relative;
    background-color: red;
    display: grid;
    place-items: center;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $trans-violet;
    }
  }
  &__image {
    max-width: 100%;
  }
  &__body {
    padding: 1rem 2rem;
  }
  &__title {
    font-size: 1.8rem;
    &--emphasis {
      color: $soft-violet;
    }
  }
  &__copy {
    color: $slight-trans-white-75;
    line-height: 1.6rem;
  }
  &__statistic {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }
  &__number {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  &__label {
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.8rem;
    color: $slight-trans-white-60;
  }
  &__footer {
    margin-top: 1rem;
  }
  @media screen and(min-width: 1024px) {
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "body head"
      "foot head";
    align-items: center;
    text-align: left;
    padding-left: 2rem;
    &__body {
      grid-area: body;
    }
    &__title {
        padding-right: 5rem;
        font-size: 2rem;
    }
    &__copy {
        padding-right: 7.5rem;
        font-size: .8rem;
    }
    &__header {
      grid-area: head;
    }
    &__image {
      content: url("../assets/images/image-header-desktop.jpg");
    }
    &__footer {
      display: flex;
      grid-area: foot;
      padding-left: 2rem;
      margin-top: 0;
    }
    &__statistic {
        &:nth-child(1), &:nth-child(2) {
            margin-right: 4rem;
        }
    }
  }
}

.attribution {
  margin: 1rem 3rem;
  margin-top: auto;
  color: $slight-trans-white-60;
  font-family: "Inter", sans-serif;
  &__link {
    text-decoration: none;
    color: $slight-trans-white-75;
    transition-property: color;
    transition-duration: 0.3s;
    &:hover {
      color: $soft-violet;
    }
  }
}
