@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --main-bg-color: hsl(0, 0, 100%);
  --secondary-text-color: hsl(223, 100%, 88%);
  --button-bg-color: hsl(223, 100%, 66%);
  --error-color: hsl(354, 100%, 66%);
  --main-text-color: hsl(0, 0%, 59%);
  --accent-text-color: hsl(209, 33%, 12%);
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
}