
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$cyan: hsl(167, 44%, 70%);
$dark-cyan: hsl(168, 40%, 31%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(210, 15%, 87%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);


.theme {
    --main-bg: #{$white};
    --footer-bg: #{$cyan};
    --bottom-nav-color: #{$dark-cyan};
    --h2-color: #{$very-dark-desaturated-blue};
    --copy-color: #{$dark-grayish-blue};
    --graphic-color: #{$dark-desaturated-cyan};
    --photography-color: #{$dark-blue};
    --h2-light-color: #{$dark-grayish-blue};
    --h4-color: #{$grayish-blue};
    --yellow-accent-color: #{$yellow};
    --red-accent-color: #{$soft-red};
}